<div class="row comment_view" id="comment_view_of_comment_id_{{ id }}">
  <a class="offset1 span3 align_center ttip user_nickname_container" title="{{ user.name }}" data-placement="left" href="{{ user.default_profile_link }}" target="_blank">
    <div>
      <img src="{{ user.image }}" class="profile_image">
    </div>
    <div class="user_nickname_container">
      <small class="user_nickname">
        {{ user.default_profile_display }}
      </small>
    </div>
  </a>
  <div class="span7 comment_text">
    {{ texto }}
    {{#if time_ago_in_words}}
      <div class="comment_time_ago">
        hace {{ time_ago_in_words }}
      </div>
    {{/if}}
  </div>
</div>