
<%= raise "this comment view shall not be used!" %>

<div class="row comment_view">
  <a class="offset1 span3 align_center ttip user_nickname_container" title="<%= comment.user.name %>" data-placement="left" href="<%= comment.user.default_profile_link %>" target="_blank">
    <div>
      <%= image_tag comment.user.image, :class => "profile_image" %>
    </div>
    <div class="user_nickname_container">
      <small class="user_nickname"><%= comment.user.default_profile_display %></small>
    </div>
  </a>
  <div class="span7 comment_text">
    <%= comment.texto %>
    <div class="comment_time_ago">
      hace <%= time_ago_in_words comment.created_at %>
    </div>
  </div>
</div>