<% if current_user and not current_user.banned %>

  <%
    comment = Comment.new({
      :video_id => @video.id,
      :live => @is_live
    })
  %>

      <%= form_for comment, :remote => true, :html => {:class => "align_center"} do |f| %>
          
          <%= f.hidden_field :video_id %>
          <%= f.hidden_field :live %>

          <% unless @is_live %>
            <%= f.hidden_field :time_of_video %>
          <% end %>
    
          <%= f.text_field :texto, :class => "ttip input_new_comment input-small no_controls", :placeholder => "conversa (envía con la tecla Enter)", :required => true, :title => "conversa presionando la tecla Enter", :data => { :placement => "left" } %>
          
          <div class="hidden">
            <%= f.submit "comentar", :disable_with => 'espera..', :class => "btn btn-primary" %>
          </div>

        <% end %>

    <%= javascript_tag do %>
      window.Helpers.CommentTextLengthConstraint.init();
    <% end -%>
    <% unless @is_live %>
      <%= javascript_tag do %>
        window.Helpers.CommentFormHelper.init();
      <% end -%>
    <% end %>

<% elsif current_user and current_user.banned %>
  
  <div class="sidebar_content_add_comment">
    <span style="margin: 0.8em">lo sentimos, no puedes comentar</span>
  </div>

<% else %>

  <div class="sidebar_content_add_comment">
    <span style="margin: 0.8em">inicia sesión:</span>
    <%= link_to "/auth/facebook" do %><%= image_tag "/images/fblogo.png", :class => "social_network_logo_login ttip", :title => "inicia sesión con facebook", :data => {:placement => "bottom"} %><% end %>
    <%= link_to "/auth/twitter" do %><%= image_tag "/images/twitterbird.png", :class => "social_network_logo_login ttip", :title => "inicia sesión con twitter", :data => {:placement => "bottom"} %><% end %>
  </div>

<% end %>