$("#comment_texto").val("");

<%
  # not broadcasting from here anymore.
  # broadcast("/comments/news/#{@comment.video_id}", @comment.prepare_js_to_sidebar)
%>

window.Helpers.VideoCommentsHelper.addComment( <%= raw @comment.prepare_js_to_sidebar.to_json %> , true );
window.Helpers.CommentsScrollHelper.scrollToBottomIfAlreadyAtBottom();
