<h4>hola, <%= current_user.name %>.</h4>
<div>felicidades, acabas de llegar al panel de administración.</div>

<div>
  si eres un administrador de qoloquio, ¡bienvenido!
</div>

<div>
  <small>
    si no, ¡adelante!, hackea algo.
  </small>
</div>
