window.Helpers.VideoTimelineSegmentosHelper.render({
  antes:   <%= raw @segmentos_antes.to_json %>,
  ahora:   <%= raw @segmentos_ahora.to_json %>,
  despues: <%= raw @segmentos_despues.to_json %>
});
