<% if @video.iframe_code.blank? %>
  <div id="the_flash_player"></div>
  <script id="the_flash_player_template" type="text/x-handlebars-template">
    <%= render "home/flash_player_template" %>
  </script>
  <script id="html_player_template" type="text/x-handlebars-template">
    <%= render "home/html_player_template" %>
  </script>
  <%= javascript_tag do %>
    window.Helpers.FlashPlayerHelper.init({
      selector: "the_flash_player",
      file: "<%= URI.encode_www_form_component(@video.wowza_file_url) %>",
      fileRaw: "<%= @video.wowza_file_url %>",
      hostURL: "<%= full_host_url %>",
      htmlUrl: "<%= @video.html_url %>",
      image: "<%= @video.poster_url %>",
      height: <%= @video.wowza_file_height %>,
      width: <%= @video.wowza_file_width %>
    });
  <% end -%>
<% else %>
  <div class="video_iframe_container">
    <div id="hide_ustream_logo" class="hidden"></div>
    <%= raw @video.iframe_code %>
  </div>
<% end %>
