{{#each this}}
  <div class="segmento row">

    <span class="horario">
      {{#if desde}}
        {{ desde }} -
        {{ hasta }}
      {{/if}}
      {{#if duracion_in_words}}
        ({{ duracion_in_words }})
      {{/if}}
    </span>

    <div class="segmento_info">
      {{#if urls}}
        <a class="segmento_nombre tl_segmento_nombre_playing" href=" " data-segmento_id="{{ id }}">
          {{ titulo }}
        </a>
      {{else}}
        <span class="segmento_nombre">
          {{ titulo }}
        </span>
      {{/if}}
    </div>
  </div>
{{/each}}
