  <div id="main" class="has_padding">
    <% @videos.each do |video| %>
      <%= link_to video_path(video), :class => "video_on_home" do %>
        <div class="video_poster">
          <%= image_tag video.poster_url %>
        </div>
        <div class="video_nombre">
          <%= video.titulo %>
        </div>
      <% end %>
    <% end %>
  </div>