    <div class="container-fluid content_playing_fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="main_content">

            <div class="audio_video_toggle hidden">
              <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-inverse active">audio y video</button>
                <button type="button" class="btn btn-inverse">sólo audio</button>
              </div>
            </div>
            <div id="current_video_playing" class="video_container" data-video_id="<%= @video.id %>" data-live_video="<%= @is_live ? "true" : "false" %>">
              <% if @is_live %>
                <%= render "home/live_streaming" %>
              <% else %>

              <% end %>
            </div>
            <div class="audio_container hidden">
              <!-- here goes audio only -->
            </div>
          </div>
          <div class="main_content">
            <div class="timeline_toggle">
              <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-inverse">antes</button>
                <button type="button" class="btn btn-inverse active" id="timeline_toggle_ahora_button">ahora</button>
                <button type="button" class="btn btn-inverse">después</button>
              </div>
            </div>
            <div class="timeline_content">
              <script id="timeline_content_template" type="text/x-handlebars-template">
                <%= render 'home/timeline_content_template' %>
              </script>
              <div class="timeline_content_antes hidden"></div>
              <div class="timeline_content_ahora"><div class="has_padding">cargando...</div></div>
              <div class="timeline_content_después hidden"></div>
            </div>
          </div>
        </div>
        <div class="span3 sidebar_content">
          <div id="the_ads" class="ads">
            <a class="banner_ad_link">
              <%= image_tag "/images/sample_ad.png" %>
            </a>
          </div>
          <div class="sidebar_content_toggle hidden">
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-inverse"><i class="icon icon-heart icon-white"></i></button>
              <button type="button" class="btn btn-inverse active"><i class="icon icon-home icon-white"></i></button>
              <button type="button" class="btn btn-inverse"><i class="icon icon-question-sign icon-white"></i></button>
            </div>
          </div>
            <script id="sidebar_content_comments_template" type="text/x-handlebars-template">
              <%= render 'comments/comment_template' %>
            </script>
          <div class="sidebar_content_comments" style="height: 418px;">
          </div>
          <div class="">
            <%= render 'comments/new' %>
          </div>
        </div>
      </div>
    </div>

<%= javascript_tag do %>
  setTimeout( function () {
    $("#hide_ustream_logo").removeClass("hidden");
    console.debug("hiding that.");
  }, 4000);
  $(function (){
    window.Helpers.VideoCommentsHelper.init();
    window.Helpers.VideoTimeline.init(<%= @video.id %>);
    window.Helpers.AdsViewController.init();
    window.Helpers.CommentsScrollHelper.init();
  });
<% end %>
