(function() {
  "use strict";

  var qoloquio = {
    host: "<%= @app_url %>",

    qoloquioLoaded: function () {
      $("#" + window.qoloquioElementId).html("<%= j render 'home/live_streaming' %>");
      window.qoloquio = new Qoloquio;
    },

    loadQoloquio: function () {
      this.addJavascriptTag(this.host + "<%= javascript_path('embed') %>", this.qoloquioLoaded);
    },

    init: function () {
      this.loadQoloquio();
    },

    addJavascriptTag: function (src, callback) {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = src;
      script.async = false;
      script.onload = callback;
      document.body.appendChild(script);
    }
  };

  qoloquio.init();
})();
