<div class="align_center">
  <h2>preferencia</h2>
</div>

<%= form_for [:admin, @preference] do |f| %>
  
  <% if @preference.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize @preference.errors.count, "error", "errores" %>:</h4>
      <ul>
        <% @preference.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key, "llave" %>
    <%= f.text_field :key, :required => true %>
  </div>

  <div class="field">
    <%= f.label :value, "valor" %>
    <%= f.text_area :value, :required => true %>
  </div>

  <div class="field">
    <%= f.label :descripcion, "descripción" %>
    <%= f.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit "enviar", :disable_with => 'enviando..', :class => "btn btn-primary" %>
  </div>

<% end %>
