<div class="align_center">
  <h2>preferencias</h2>
</div>

<div class="prefences_on_admin_panel">
  <table>
    <thead>
      <tr>
        <th>Preferencia</th>
        <th>Valor</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @preferences.each do |preferencia| %>
        <tr>
          <td><%= preferencia.key %></td>
          <td><%= preferencia.value %></td>
          <td><%= preferencia.descripcion %></td>
          <td>
            <%= link_to raw("<i class='icon icon-edit icon-white'></i> editar"), edit_admin_preference_path(preferencia), :class => "btn btn-mini btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="new_preference">
  <%= link_to raw("<i class='icon icon-plus icon-white'></i> añadir preferencia"), new_admin_preference_path, :class => "btn btn-mini btn-info" %>
</div>
