<div class="is_container">
  <%= form_for [:admin, @ad] do |f| %>

    <%= form_errors f.object %>

    <div class="field">
      <%= f.label :nombre, "nombre" %>
      <%= f.text_field :nombre, :placeholder => "nombre para distinguir el anuncio", :required => true %>
    </div>

    <div class="field">
      <%= f.label :image, "imagen" %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="controls">
      <small>
        consejo: sube una imagen de al menos 460x460px, para dar soporte a pantallas de alta resolución
      </small>
    </div>

    <% if f.object.image? %>
      <div class="controls">
        <%= image_tag f.object.image_url, :class => "image_small" %>
      </div>
      <div class="field">
        <%= f.label :remove_image, "eliminar imagen" %>
        <%= f.check_box :remove_image %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :url, "url" %>
      <%= f.text_field :url, :placeholder => "(incluye el protocolo)", :required => true %>
    </div>

    <div class="field">
      <%= f.label :display_time, "tiempo que se muestra" %>
      <%= f.number_field :display_time, :placeholder => "(en segundos)", :max => 300, :min => 1, :required => true %>
    </div>

    <div class="field">
      <%= f.label :user_id, "usuario" %>
      <%= f.select :user_id, @users_mapped %>
    </div>

    <div class="field">
      <%= f.label :desde, "desde" %>
      <%= f.date_select :desde, :required => true %>
    </div>

    <div class="field">
      <%= f.label :hasta, "hasta" %>
      <%= f.date_select :hasta, :required => true %>
    </div>

    <div>
      <%= f.submit :disable_with => "enviando..", :class => "btn btn-primary" %>
    </div>

  <% end -%>
</div>

<div>
  <%= link_to raw("<i class='icon icon-white icon-arrow-left'></i> atrás"), admin_ads_path, :class => "btn btn-inverse btn-mini" %>
</div>