<div class="align_center">
  <h2>anuncios</h2>
</div>

<div class="ads_on_admin_panel">
  <% @ads.each do |ad| %>
    <div class="ad is_container">
      <div class="ad_user">
        <div>
          <%= ad.nombre %>
        </div>
        <a class="ttip" href="<%= ad.user.default_profile_link %>" target="_blank" title="<%= ad.user.name %>">
          <%= ad.user.default_profile_display %>
        </a>
      </div>
      <div class="ad_image">
        <%= image_tag ad.image %>
      </div>
      <div class="ad_datetimes">
        <div class="pull-left">
          <span class="ttip" title="tiempo que se muestra"><%= pluralize ad.display_time, "segundo", "segundos" %></span>
        </div>
        <div class="pull-right">
          <span class="ttip" title="desde"><%= l ad.desde, format: :q_date %></span>
          -
          <span class="ttip" title="hasta"><%= l ad.hasta, format: :q_date %></span>
        </div>

        <div class="clearfix"></div>

        <div class="pull-left">
          <%= pluralize number_to_human(ad.times_displayed, :precision => 4, :separator => "."), "impresión", "impresiones" %>
        </div>
        <div class="pull-right">
          <%= pluralize number_to_human(ad.clicks, :precision => 4, :separator => "."), "click", "clicks" %>
        </div>
        
        <div class="clearfix"></div>

      </div>
      <div class="ad_url">
        <%= link_to ad.url, ad.url, :target => "_blank" %>
      </div>

      <div>
        <%= link_to raw("<i class='icon icon-white icon-pencil'></i> editar"), edit_admin_ad_path(ad), :class => "btn btn-mini btn-info" %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to raw("<i class='icon icon-plus icon-white'></i> añadir anuncio"), new_admin_ad_path, :class => "btn btn-mini btn-info" %>
</div>
