.ads_on_admin_panel
  .ad
    display: inline-block
    width: 240px
    .ad_user
      text-align: center
    .ad_url
      max-width: 100%
      overflow: auto
      font-size: 0.8em
    .ad_image
      text-align: center
      img
        max-height: 230px
        max-width: 230px
        border-radius: 0.3em
        box-shadow: 0 1px 1px #aaa
    .ad_datetimes
      text-align: right
      color: #666
      font-size: 0.9em