::-moz-selection, ::selection
  background: #FC3546
  color: #fff
  text-shadow: none

.has_padding
  padding: 1em

.social_network_logo_login, .current_user_profile_image
  max-height: 35px
  max-width: 35px
  padding: 0.1em
  margin: 0.1em

.current_user_profile_image
  border-radius: 0.3em
  box-shadow: 0 1px 2px #000

.header_session_icons
  padding: 1em 0
  vertical-align: top
  & > div
    display: inline-block
    vertical-align: middle

.header_search
  padding: 1.5em 0
  margin: 0
  input[type=search]
    width: 100%

.align_center
  text-align: center

.align_right
  text-align: right

.field_with_errors
  display: inline

.is_container
  border: 1px solid #eee
  border-radius: 0.3em
  box-shadow: 0 2px 1px #aaa
  margin: 0.5em
  padding: 0.5em

.image_small
  max-width: 60px
  max-height: 60px

.inline_block
  display: inline-block

.white_text
  color: white
