.input_new_comment
  margin: 0 !important
  width: 93%
  font-size: 0.9em !important

.comment_view
  border-bottom: 1px solid #eee
  padding: 0.3em 0 0 0.05em
  .user_nickname_container
    line-height: 9px
    .user_nickname
      font-size: 0.6em
  .comment_text
    font-size: 0.8em
    line-height: 14px
  img
    max-width: 45px
    max-height: 40px
    border-radius: 0.3em
    box-shadow: 0 1px 2px #aaa
  .comment_time_ago
    // display: none
    opacity: 1
    text-align: right
    color: white
    font-size: 0.7em
    transition: all 0.3s
    -moz-transition: all 0.3s
    -webkit-transition: all 0.3s
    -o-transition: all 0.3s
    -ms-transition: all 0.3s

.comment_view:hover
  .comment_time_ago
    // display: block
    color: gray
