$default_border_radius: 0.4em
$default_background_color: #E5E5E5
$default_background_color_black: #1A1A1A
$default_red: #FC3546
$default_box_shadow: 0 2px 3px #aaa

@mixin default_shadow
  box-shadow: $default_box_shadow

@mixin default_shadow_light
  box-shadow: 0 1px 5px #ccc

.red
  color: $default_red

body.content_playing
  padding: 0.2em !important
  margin: 0 auto !important
  min-width: 890px
  header
    border-radius: $default_border_radius
    background-color: $default_background_color_black
    height: 70px
    margin: 0
    color: white
    vertical-align: middle
    .has_logo
      text-align: center
      padding: 0.5em 1em
      img
        max-height: 60px
    .the_name
      padding: 1em 0
      .title
        font-family: Young
        font-size: 2.4em
        margin-bottom: 0.2em
        padding-left: 2em
      .subtitle
        color: $default_red
        text-align: left
        padding-left: 1.8em
        font-size: 1.1em
        font-style: italic
  #main
    margin: 0.5em 0
    .container-fluid
      padding: 0 3px !important
    .main_content
      border-radius: $default_border_radius
      padding: 0.9em 0.5em
      background-color: $default_background_color
      margin: 0 0 0.5em 0
      min-width: 635px
      @include default_shadow_light
      .video_container
        display: block
        text-align: center
        background-color: black
        border-radius: $default_border_radius
        padding: 0.8em 0.5em
        @include default_shadow
        .video_iframe_container
          position: relative
          width: 608px
          height: 368px
          margin: auto
          #hide_ustream_logo
            position: absolute
            bottom: 0
            width: 200px
            height: 32px
            right: 0
            background-image: url(/images/us_bg.png)
            background-size: 100%
            padding: 0
            margin: 0
      .audio_video_toggle
        margin: 0 0 0.5em 0
        .btn-group
          display: block
          button
            width: 50%
            @include default_shadow
      .timeline_toggle
        margin: 0 0 0.5em 0
        .btn-group
          display: block
          button
            width: 33%
            width: 33.3%
      .timeline_content
        height: 200px
        font-size: 1.1em
        overflow: auto
    .sidebar_content
      & > div
      max-width: 100%
      overflow: hidden
      #the_ads
        padding: 2px
        background-color: $default_background_color
        border-radius: $default_border_radius
        margin: 0 0 0.5em 0
        height: 212px
        text-align: center
        vertical-align: middle
        @include default_shadow_light
        a
          display: block
          vertical-align: middle
          img
            max-height: 210px
            max-width: 210px
            vertical-align: middle
            border-radius: 0.3em
      .sidebar_content_toggle
        text-align: center
        .btn-group
          display: block
          button
            width: 20%
      .sidebar_content_comments
        height: 418px
        overflow-y: scroll
        overflow-x: hidden
        box-shadow: 0 0 5px #aaa inset
        // background-color: $default_background_color
        // border: 1px solid #eee
        border-radius: $default_border_radius
        margin: 0.5em 0 0.2em 0
      .sidebar_content_add_comment
        height: 38px
        border: 1px solid #eee
        border-radius: $default_border_radius
        @include default_shadow_light
  footer
    border-radius: $default_border_radius
    display: block
    text-align: left
    color: white
    background-color: $default_background_color_black
    padding: 0.6em 0.5em 0.2em 0.5em
    margin: 0
    bottom: 0
    position: relative
    min-height: 20px
    @include default_shadow
    & > div
      display: inline-block
      vertical-align: bottom
      padding: 0.5em
    .left, .right
      cursor: pointer
      padding: 0 3em 0 2em
      // background-color: $default_background_color_black
      z-index: 1
      display: inline-block
      a
        color: white
    .left_hidden, .right_hidden
      margin-top: 1em
      padding-top: 1em
      display: none
      margin: 1em
      border-top: 1px solid #aaa
    .left
    .left_hidden

    .right
      text-align: right
    .right_hidden
      

