.admin_programa
  vertical-align: top
  display: inline-block
  box-shadow: 0 2px 2px #aaa
  border: 1px solid #eee
  border-radius: 0.3em
  padding: 0.5em
  margin: 0.5em
  width: 300px
  .programa_titulo
    text-align: center
    font-size: 1.3em
  .programa_descripcion
  .programa_poster
    text-align: center
    img
      max-width: 100%
      max-height: 250px
      border-radius: 0.3em
      box-shadow: 0 1px 1px #aaa
  .programa_horario
    text-align: right
    color: #888
    font-size: 0.8em
  .segmentos
    max-height: 300px
    overflow: auto
