.segmento
  margin: 0.3em
  vertical-align: middle
  display: block
  border-bottom: 1px solid #eee
  .segmento_info
    display: inline-block
    max-width: 610px
    vertical-align: middle
    .horario
      color: #555
      font-size: 0.7em
      // width: 90px
      display: inline-block
      text-align: center
      vertical-align: middle
      margin: 0 0.5em 0 0.2em
    .segmento_nombre
      vertical-align: middle
