body.static_landing_page_for_pcworld
  max-width: 800px
  margin: 0 auto
  font-size: 1.1em
  color: #343435
  text-shadow: 0 1px 0 #ddd
  background-color: #555
  a
    text-shadow: 0 1px 0 #bbb
  #main
    text-align: center
    border-bottom: 1px solid #aaa
    padding: 0.5em 2em 2em 2em
    background-color: white
    border-radius: 3px
    margin: 0.3em
    box-shadow: 0 1px 200px #000
    min-width: 500px
    #qoloquio_logo
      max-width: 400px
    .division
      margin: 0.5em 0
      padding: 1em 0
    .division_2
      margin: 0.2em 0
      padding: 0.3em 0
      .the_social_networks
        display: block
        div
          display: inline-block
          margin: 0 2em
          a
            display: block
            img
              max-width: 50px
              max-height: 50px
