.video_on_home
  vertical-align: middle
  display: inline-block
  margin: 0.5em
  max-width: 230px
  color: #333
  &:hover
    color: #333
    text-decoration: none
  .video_poster
    background-color: black
    border-radius: 0.3em
    padding: 5px
    box-shadow: 0 2px 5px #aaa
    margin-bottom: 0.5em
    text-align: center
    img
      max-width: 220px
      max-height: 220px
  .video_nombre
    text-shadow: 0 1px 1px #ddd
    font-size: 1.2em