  
  <% @users.each do |user| %>
    <div class="row user user_on_admin_panel_<%= user.id %>">
      <%= render 'user', user: user %>
    </div>
  <% end %>

  <div class="">
    <%= paginate @users, :remote => true %>
  </div>
