
      <a class="span3 align_center ttip user_nickname_container" title="<%= user.name %>" data-placement="left" href="<%= user.default_profile_link %>" target="_blank">
        <div>
          <%= image_tag user.image, :class => "profile_image" %>
        </div>
        <div class="user_nickname_container">
          <small class="user_nickname"><%= user.default_profile_display %></small>
        </div>
      </a>
      <div class="offset1 span7 comment_text">
        <div>
          <% if user.is_admin? %>
            <%= link_to raw("<i class='icon icon-minus-sign'></i> quitar admin"), admin_admin_user_path(user, be: false), :class => "btn btn-mini", :remote => true %>
            <span class="label label-success">admin</span>
          <% else %>
            <%= link_to raw("<i class='icon icon-plus-sign'></i> hacer admin"), admin_admin_user_path(user, be: true), :class => "btn btn-mini", :remote => true %>
          <% end %>
        </div>
        <div>
          <% if user.banned? %>
            <%= link_to raw("<i class='icon icon-minus-sign'></i> ban"), ban_admin_user_path(user, ban: false), :class => "btn btn-mini", :remote => true %>
            <span class="label label-important">baneado</span>
          <% else %>
            <%= link_to raw("<i class='icon icon-plus-sign'></i> ban"), ban_admin_user_path(user, ban: true), :class => "btn btn-mini", :remote => true %>
          <% end %>
        </div>
      </div>
