<div class="align_center">
  <h2>usuarios</h2>
</div>

<div class="input-append">
  <input type="search" placeholder="buscar" id="users_filter_input">
  <span class="add-on"><i class="icon icon-search"></i></span>
</div>

<%= javascript_tag do %>
  $(function () {
    window.Helpers.UsersFilterOnAdminHelper.init();
  });
<% end -%>

<div class="users_on_admin_panel has_padding is_container">
  <%= render 'index' %>
</div>
