<div class="is_container">
  <%= nested_form_for [:admin, @video] do |f| %>

    <%= form_errors f.object %>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#informacion" data-toggle="tab">información</a></li>
      <li><a href="#streaming" data-toggle="tab">streaming</a></li>
      <li><a href="#en_vivo" data-toggle="tab">en vivo</a></li>
      <li><a href="#segmentos" data-toggle="tab">segmentos</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="informacion">
        <div class="field">
          <%= f.label :titulo, "título" %>
          <%= f.text_field :titulo, :required => true %>
        </div>

        <div class="field">
          <%= f.label :descripcion, "descripción" %>
          <%= f.text_field :descripcion %>
        </div>

        <div class="field">
          <%= f.label :poster, "póster" %>
          <%= f.file_field :poster %>
          <%= f.hidden_field :poster_cache %>
        </div>

        <% if f.object.poster? %>
          <div class="controls">
            <%= image_tag f.object.poster_url, :class => "image_small" %>
          </div>
          <div class="field">
            <%= f.label :remove_poster, "eliminar póster" %>
            <%= f.check_box :remove_poster %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :hashtag, "hashtag" %>
          <%= f.text_field :hashtag %>
        </div>

        <div class="field">
          <%= f.label :kind, "Tipo" %>
          <%= f.select :kind, ["Video", "Audio"] %>
        </div>

        <div class="field">
          <%= f.label :published, "publicado (se puede ver off-time)" %>
          <%= f.check_box :published %>
        </div>
      </div>
      <div class="tab-pane" id="streaming">
        <fieldset>
          <legend>streaming con wowza</legend>
          <div class="field">
            <%= f.label :wowza_server, "servidor" %>
            <%= f.text_field :wowza_server, placeholder: "streaming.qoloquio.com" %>
          </div>
          <div class="field">
            <%= f.label :wowza_app, "namespace" %>
            <%= f.text_field :wowza_app, placeholder: "live" %>
          </div>
          <div class="field">
            <%= f.label :wowza_channel, "canal" %>
            <%= f.text_field :wowza_channel, placeholder: "envivo" %>
          </div>
          <div class="field">
            <%= f.label :wowza_file_width, "ancho" %>
            <%= f.number_field :wowza_file_width, :placeholder => "640 (en pixeles)", :min => 0 %>
          </div>
          <div class="field">
            <%= f.label :wowza_file_height, "alto" %>
            <%= f.number_field :wowza_file_height, :placeholder => "480 (en pixeles)", :min => 0 %>
          </div>
        </fieldset>

        <fieldset>
          <legend>streaming de terceros</legend>
          <div class="field">
            <%= f.label :iframe_code, "código del iframe (en vivo)" %>
            <%= f.text_area :iframe_code, :placeholder => "código del iframe que se va a mostrar mientras el programa esté en vivo." %>
          </div>
        </fieldset>
      </div>
      <div class="tab-pane" id="en_vivo">
        <div class="field">
          <%= f.label :en_vivo_desde, "en vivo desde" %>
          <div class="controls">
            <%= f.datetime_select :en_vivo_desde %>
            <% unless f.object.new_record? %>
              <small><span class="help-inline">Si cambias este parámetro, es posible que alteres el orden de los comentarios.</span></small>
            <% end %>
          </div>
        </div>

        <div class="field">
          <%= f.label :en_vivo_hasta, "en vivo hasta" %>
          <div class="controls">
            <%= f.datetime_select :en_vivo_hasta %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="segmentos">
        <div class="field">
          Segmentos (que se mostrarán en el TL)
          <%= f.fields_for :segmentos do |b| %>
            <%= render 'admin/segmentos/form', f: b %>
          <% end %>
          <div>
            <%= f.link_to_add raw("<i class='icon icon-white icon-plus'></i> agregar segmento"), :segmentos, :class => "btn btn-mini btn-info" %>
          </div>
        </div>
      </div>
    </div>

    <div>
      <%= f.submit "enviar", :disable_with => "enviando..", :class => "btn btn-primary" %>
    </div>

  <% end %>

</div>

<%= link_to raw("<i class='icon icon-white icon-arrow-left'></i> cancelar"), admin_videos_path, :class => "btn btn-inverse btn-mini" %>