    <div class="admin_programa">
      <div class="programa_titulo">
        <%= video.titulo %>
      </div>
      <div class="programa_descripcion">
        <%= video.descripcion %>
      </div>
      <div class="programa_poster">
        <%= image_tag video.poster_url %>
      </div>
      <div class="programa_horario">
        <%= l video.en_vivo_desde, format: :short %> -
        <%= l video.en_vivo_hasta, format: :short %>
        <div>
          <span class="label"><%= video.published ? "publicado" : "no publicado" %></span>
          <span class="label label-info"><%= video.hashtag %></span>
        </div>
      </div>
      <% unless video.segmentos.empty? %>
        <div class="segmentos">
          Segmentos:
          <% video.segmentos.each do |segmento| %>
            <%= render 'admin/segmentos/segmento', segmento: segmento, show_links: true %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to raw("<i class='icon icon-white icon-pencil'></i> editar"), edit_admin_video_path(video), :class => "btn btn-mini btn-info" %>
        <%= link_to raw("<i class='icon icon-share-alt'></i> embeber"), embed_admin_video_path(video), class: "btn btn-mini btn-default" %>
        <%= link_to raw("<i class='icon icon-remove icon-white'></i> eliminar"), admin_video_path(video), :class => "btn btn-danger btn-mini", method: :delete, :confirm => "¿Seguro?" %>
      </div>
    </div>