<div class="align_center">
  <h2><%= @video.titulo %></h2>
</div>

<p>Copia el siguiente código:</p>

<div>
  <pre>
&lt;div id="player"&gt;&lt;/div&gt;
&lt;script type="text/javascript" src="<%= @embed_url %>.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;window.qoloquioElementId = "player";&lt;/script&gt;
  </pre>
</div>

<p>Y pégalo en tu HTML</p>
