<div class="align_center">
  <h2>programas</h2>
</div>

  <% @videos.each do |video| %>
    <%= render 'video', video: video %>
  <% end %>


<div>
  <%= link_to raw("<i class='icon icon-white icon-plus'></i> añadir un programa"), new_admin_video_path, :class => "btn btn-mini btn-info" %>
</div>