<%
  unless defined?(not_nested)
    not_nested = false
  end
%>

<div class="is_container inline_block">
  <div class="field">
    <%= f.label :titulo, "título" %>
    <%= f.text_field :titulo, :required => not_nested %>
  </div>
  <div class="field">
    <%= f.label :duracion, "duración (s)" %>
    <%= f.number_field :duracion, :min => 1, :placeholder => "(en segundos)" %>
  </div>
  <div class="field">
    <%= f.label :width, "ancho del video (px)" %>
    <%= f.number_field :width, :min => 1, :placeholder => "(en pixeles)" %>
  </div>
  <div class="field">
    <%= f.label :height, "altura del video (px)" %>
    <%= f.number_field :height, :min => 1, :placeholder => "(en pixeles)" %>
  </div>

  <div class="field">
    <%= f.label :segmento_urls, "urls de los vídeos" %>
    <%= f.fields_for :segmento_urls do |b| %>
      <%= render 'admin/segmentos/segmento_url_form', f: b %>
    <% end %>
    <p class="align_right">
      <%= f.link_to_add raw("<i class='icon icon-white icon-plus'></i> url"), :segmento_urls, :class => "btn btn-mini btn-info" %>
    </p>
  </div>


  <% unless not_nested %>
    <div class="actions align_right controls">
      <%= f.link_to_remove raw("<i class='icon icon-remove icon-white'></i> eliminar segmento"), :class => "btn btn-danger btn-mini" %>
    </div>
  <% end %>
</div>