<%
  unless defined?(show_links)
    show_links = false
  end
%>

<div class="segmento row">
  <span class="segmento_info">
    <span class="horario">
      <%= l(segmento.desde, format: :q_hour) if segmento.desde %> -
      <%= l(segmento.hasta, format: :q_hour) if segmento.hasta %>
    </span>
    <% unless segmento.has_url? %>
      <span class="segmento_nombre">
        <%= segmento.titulo %>
      </span>
    <% else %>
      <a class="segmento_nombre tl_segmento_nombre_playing" href="#" data-segmento_id="<%= segmento.id %>">
        <%= segmento.titulo %>
      </a>
    <% end %>
    <% if show_links %>
      <%= link_to raw("<i class='icon icon-pencil'></i>"), edit_admin_segmento_path(segmento), :class => "ttip btn-link", :title => "editar" %>
    <% end %>
  </span>
</div>
