<%= nested_form_for [:admin, @segmento] do |f| %>
  
  <%= form_errors f.object %>

  <div class="field">
    <%= f.label :video_id, "programa" %>
    <input type="text" disabled="disabled" value="<%= f.object.video.titulo %>">
    (<%= l f.object.video.en_vivo_desde, format: :short %> - <%= l f.object.video.en_vivo_hasta, format: :short %>)
  </div>
  
  <%= render 'form', f: f, not_nested: true %>

  <%= f.submit :disable_with => "enviando..", :class => "btn btn-primary" %>

<% end %>

<%= link_to raw("<i class='icon icon-white icon-arrow-left'></i> cancelar"), admin_videos_path, :class => "btn btn-inverse btn-mini" %>