    <% flash.each do |key, msg| %>
      <%= javascript_tag do %>
        $(function (){
          $.gritter.add({
            title: '',
            text: "<%= msg %>"
          });
        });
      <% end -%>
    <% end %>