
  <footer>
    <div class="left">
      <div>
        <a href="#">(cc) by-sa-ec-3.0</a>
      </div>
    </div>
    <div class="right">
      <div>
        <a href="#">contacto</a>
      </div>
    </div>
    <div class="left_hidden">
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ec/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/ec/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">qoloquio</span> se encuentra bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ec/">Licencia Creative Commons Atribución-CompartirIgual 3.0 Ecuador</a>.<br />Basada en una obra en <a xmlns:dct="http://purl.org/dc/terms/" href="http://qoloquio.com" rel="dct:source">http://qoloquio.com</a>.
      </div>
      ¿Qué significa esto? Que puedes usar con plena libertad todo el contenido de esta web sin necesidad de pedirnos permiso para compartir, copiar, distribuir, ejecutar y comunicar públicamente estos contenidos, hacer obras derivadas a partir de nuestras fuentes, e inclusive darle un uso comercial a estos contenidos. Lo único que pedimos a cambio es cumplas dos condiciones:
      <ol>
        <li>
          Siempre debes reconocer y citar los créditos del contenido a qoloqio.
        </li>
        <li>
          Si alteras o transformas nuestros contenidos o generas una obra derivada debes distribuir tu nueva obra con una licencia CC idéntica a la que te hemos otorgado
        </li>
      </ol>
Para más info puedes ir a este enlace: http://creativecommons.org/licenses/by-sa/3.0/ec/
    </div>
    <div class="right_hidden">
<p>Para contactarnos con preguntas, anuncios de publicidad, comentarios, sugerencias, puedes dirigirte a:</p>

<p>Correo electrónico: hola@qoloquio.com</p>

<p>Twitter: @qoloquio</p>

<p>FaceBook: <a href="http://facebook.com/qoloquio">/qoloquio</a></p>

<p>Skype: <a href="skype:qoloquio?call">qoloquio</a> (sólo para transmisiones en vivo)</p>

<p><small>No usamos teléfono ni fax, intentamos vivir en el siglo XXI</small></p>
    </div>
  </footer>
</body>
</html>