<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="author" href="/humans.txt">
  <title>qoloquio &raquo; conversaciones para llevar</title>
  <meta name="description" content="">
  <meta name="author" content="Mario Andrés Correa">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="content_playing">

  <!--[if lt IE 9]><p class=chromeframe>Tu navegador está <strong>obsoleto</strong>. <a href="http://browsehappy.com/">Actualiza a un navegador diferente</a> o <a href="http://www.google.com/chromeframe/?redirect=true">instala google chrome frame</a> (le dará esteroides a tu navegador actual).</p><![endif]-->

  <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 has_logo">
          <%= link_to root_path do %>
            <%= image_tag "/images/qoloquio_logo.png" %>
          <% end %>
        </div>
        <div class="span5 the_name">
          <div class="title"><span class="red">q</span>oloquio</div>
          <div class="subtitle">conversaciones para llevar</div>
        </div>
        <div class="span2 header_session_icons">
          <%= render 'layouts/session' %>
        </div>
        <div class="span3 header_search">
          <input type="search" placeholder="buscar">
        </div>
      </div>
    </div>
  </header>