
<div>
  <%= link_to "skype:qoloquio?call" do %><%= image_tag "/images/SkypeBlue.png", :class => "social_network_logo_login ttip", :title => "llámanos por skype", :data => {:placement => "bottom"} %><% end %>
</div>

<% unless current_user %>
  <div>
    <%= link_to "/auth/facebook" do %><%= image_tag "/images/fblogo.png", :class => "social_network_logo_login ttip", :title => "inicia sesión con facebook", :data => {:placement => "bottom"} %><% end %>
  </div>
  <div>
    <%= link_to "/auth/twitter" do %><%= image_tag "/images/twitterbird.png", :class => "social_network_logo_login ttip", :title => "inicia sesión con twitter", :data => {:placement => "bottom"} %><% end %>
  </div>
<% else %>
  <div>
    <%= image_tag current_user.image, :class => "current_user_profile_image ttip", :title => "has iniciado sesión como #{current_user.name}", :data => {:placement => "bottom"} %><br>
  </div>
  <div>
    <small><%= link_to "salir", logout_path, :class => "ttip", :title => "cerrar sesión", :data => {:placement => "bottom"} %></small>
  </div>
<% end %>
