  
  <%= render 'layouts/head' %>

  <div id="main" class="<%= @is_content_playing ? "" : "has_padding" %>">
    <%= render 'layouts/flashes' %>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Admin panel</a>
        <ul class="nav">
          <li <%= active? "programas" %>>
            <%= link_to "programas", admin_videos_path %>
          </li>
          <li <%= active? "users" %>>
            <%= link_to "usuarios", admin_users_path %>
          </li>
          <li <%= active? "ads" %>>
            <%= link_to "anuncios", admin_ads_path %>
          </li>
          <li <%= active? "preferences" %>>
            <%= link_to "preferencias", admin_preferences_path %>
          </li>
          <li>
            <a href="#">nada</a>
          </li>
          <li>
            <a href="/sidekiq_web">sidekiq</a>
          </li>
        </ul>
      </div>
    </div>

    <div style="padding: 0 1em">
      <%= yield %>
    </div>

  </div>

  <%= render 'layouts/foot' %>
