
  <%= render 'layouts/head' %>

  <div id="main" class="<%= @is_content_playing ? "" : "has_padding" %>">
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </div>

  <%= render 'layouts/foot' %>
