<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="author" href="/humans.txt">
  <title>qoloquio &raquo; conversaciones para llevar</title>
  <meta name="description" content="">
  <meta name="author" content="Mario Andrés Correa">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="static_landing_page_for_pcworld">

  <div id="main">
    <div class="division">
      <a href="http://qoloquio.com">
        <div>
          <img src="http://qoloquio.com/images/qoloquio_logo.png" id="qoloquio_logo">
        </div>
      </a>
      <em>conversaciones para llevar</em>
    </div>

    <div class="division">
      <h2>estamos proveyendo la plataforma conversacional para el Campus Party Quito 3 #CPQuito3</h2>
    </div>

    <div class="division_2">
      <h4>puedes ver la plataforma en plena acción en <%= link_to "enlinea.pcworld.com.ec", "http://enlinea.pcworld.com.ec", target: "_blank" %></h4>
    </div>

    <div class="division_2">
      <h4>contacto:</h4>
      <p><%= link_to "hola@qoloquio.com", "mailto:hola@qoloquio.com" %></p>
      <div class="the_social_networks">
        <div>
          <%= link_to "http://twitter.com/qoloquio", target: "_blank" do %>
            <%= image_tag "/images/twitterbird.png" %>
            @qoloquio
          <% end %>
        </div>
        <div>
          <%= link_to "http://facebook.com/qoloquio", target: "_blank" do %>
            <%= image_tag "/images/fblogo.png" %>
            /qoloquio
          <% end %>
        </div>
      </div>
    </div>

  </div>


  <script type="text/javascript">
  var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '51a7751c613f5d1fc1000016');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
